.container {
    display: flex;
    align-items: center;
    gap: 8px;

    & .pageItem {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 24px;
        width: 24px;
        box-sizing: border-box;
        border-radius: 2px;
        border: 1px solid #D7DFE9;
        background: #FFFFFF;
        cursor: pointer;
        font-family: 'HKGroteskSemiBold';
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.01em;
        color: #7E858E;

        &.page {
            &:hover {
                background-color: rgba(215, 223, 233, 0.24);
            }

            &.active {
                border-color: #171F46;
                color: #171F46;
            }
        }

        &.ellipsis {
            cursor: auto;
            border: none;
            background-color: transparent;
        }
    }
}