.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.innerContainer {
    margin-top: 46px;
    width: 100%;
    max-width: 1144px;
}

.tabSwitchCtr {
    width: 100%;
    display: flex;
    justify-content: center;
}

.searchBar {
    margin: 32px 0px;
}

.resourcesCtr {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
}